* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/*///////////////////// FOOTER TOP//////////////// */
.img_footer {
    height: 2rem;
}

#footerTop {
    background-color: #64B6AC;
}

/*///////////////////// FOOTER BOT//////////////// */

#mercado-pago-icon {
    height: 1.5rem;
}