/* 
CSS rules font-family:
font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Oswald', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

/*------------------INDEX-------------------*/
/*HEADER*/
header {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
.logo-doggo {
  width: 40%;
}

@media(max-width:576px){
  header {
    height: fit-content;
  }
  img {
    width: 200px;
  }
}
.top-header {
  background-color: #fad4c0;
}
/*nav*/
.nav-color {
  background-color: #fad4c0;
}

.nav-ul {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: large;
  font-weight: bolder;
  color: #000;
  background-color: #fad4c0;
  border-bottom: 1px solid #000;
}
.nav-ul a {
  color: #000;
}

.navbar-nav {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #000;
  border-bottom: 1px solid #000;
}
.navbar-nav a:hover {
  border-bottom: 5px solid #000;
  padding-bottom: 3px
}
/*nav*/
/*HEADER*/

/*BODY*/
/*BODY*/

/*FOOTER*/
/*FOOTER*/